@keyframes numberCatchaKeyframes {
    from {color: lightcyan;}
    to {color: darkblue;}
}

.com_infraleap_vaadin_ZenDesk {
    animation: numberCatchaKeyframes 1500ms linear 0s infinite alternate;
}
